.gradle/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/.name
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/modules/weather-app-api.iml
.idea/vcs.xml
.idea/workspace.xml
settings.gradle
.idea/artifacts/
.idea/compiler.xml
.idea/libraries/
.idea/modules/weather-app-api_main.iml
.idea/modules/weather-app-api_test.iml
.idea/sqldialects.xml
.idea/uiDesigner.xml
gradle/
src/test/
argfile*
pom.xml
classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
gradlew.bat
gradlew
/src/main/resources/application.properties
src/main/resources/application.properties
